---
import BaseSEO from "@/components/meta/BaseSEO.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { getAllTags, getPostsWithTags } from "@/lib/blogPost"
import ContentLayout from "@/components/common/ContentLayout.astro"
import BlogPostCard from "@/components/blog/BlogPostCard.astro"

export async function getStaticPaths() {
  const tags = await getAllTags()
  return tags.map((tag) => ({ params: { tag }, props: { tag } }))
}

type Props = {
  tag: string
}

const { tag } = Astro.props
const posts = await getPostsWithTags([tag])

const title = `タグ 「${tag}」 の記事 - すしにっき`
const description = `タグ 「${tag}」 の記事一覧です。`

export const prerender = true
---

<BaseLayout>
  <BaseSEO description={description} title={title} disableTitleTemplate />
  <ContentLayout>
    <h1 class="my-4 text-2xl font-bold">{`タグ 「${tag}」 の記事`}</h1>
    <div class="grid w-full grid-cols-1 justify-stretch gap-4 md:grid-cols-2">
      {posts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </ContentLayout>
</BaseLayout>
