---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@acab/reset.css"
import "@/styles/globals.scss"
import { ViewTransitions } from "astro:transitions"

interface Props {
  description: string
  image?: string
  title: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const {
  description = "インターネット寿司屋",
  image = "/blog-placeholder-1.jpg",
  title,
} = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta content="width=device-width,initial-scale=1" name="viewport" />
<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
<meta content={Astro.generator} name="generator" />
<link href="/sitemap-index.xml" rel="sitemap" />

<!-- ViewTransition -->
<ViewTransitions />

<!-- Font preloads -->
<link href="https://fonts.googleapis.com" rel="preconnect" />
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Sans+JP:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap"
  rel="stylesheet"
/>

<!-- Canonical URL -->
<link href={canonicalURL} rel="canonical" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta content={title} name="title" />
<meta content={description} name="description" />

<!-- Open Graph / Facebook -->
<meta content="website" property="og:type" />
<meta content={Astro.url} property="og:url" />
<meta content={title} property="og:title" />
<meta content={description} property="og:description" />
<meta content={new URL(image, Astro.url)} property="og:image" />

<!-- Twitter -->
<meta content="summary_large_image" property="twitter:card" />
<meta content={Astro.url} property="twitter:url" />
<meta content={title} property="twitter:title" />
<meta content={description} property="twitter:description" />
<meta content={new URL(image, Astro.url)} property="twitter:image" />
<meta content="@sushichan_044" property="twitter:site" />

<!-- IE Buster -->
<script
  src="https://cdn.jsdelivr.net/npm/ie-buster@2.0.2/dist/ie-buster.min.js"
  defer
  nomodule></script>
<script nomodule>
  ieBuster.init()
</script>
