---
import ContentLayout from "@/components/common/ContentLayout.astro"
import BlogPostSEO from "@/components/meta/BlogPostSEO.astro"
import CloudinaryImage from "@/components/ui/CloudinaryImage.astro"
import NetabareAlert from "@/components/ui/NetabareAlert.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { getAllPosts } from "@/lib/blogPost"
import type { CollectionEntry } from "astro:content"

export async function getStaticPaths() {
  const blogEntries = await getAllPosts()
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

type Props = {
  entry: CollectionEntry<"posts">
}

const { entry } = Astro.props
const { Content } = await entry.render()

const netabareList = entry.data.netabare || []
const includeNetabare = netabareList.length > 0

export const prerender = true
---

<BaseLayout>
  <BlogPostSEO entry={entry} slot="seo" />
  <ContentLayout>
    <h1>{entry.data.title}</h1>
    <CloudinaryImage alt={entry.data.title} src={entry.data.thumbnail} />
    {
      includeNetabare ? (
        <NetabareAlert backIfNewTab="/blog" netabareList={netabareList}>
          <Content />
        </NetabareAlert>
      ) : (
        <Content />
      )
    }
  </ContentLayout>
</BaseLayout>
