---
import type { CollectionEntry } from "astro:content"

import BlogFrontMatter from "@/components/blog/BlogFrontMatter.astro"
import BlogStyle from "@/components/blog/BlogStyle.astro"
import MDXRenderer from "@/components/blog/MDXRenderer.astro"
import ContentLayout from "@/components/common/ContentLayout.astro"
import BlogPostSEO from "@/components/meta/BlogPostSEO.astro"
import NetabareWrapper from "@/components/ui/NetabareWrapper.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { getAllPosts } from "@/lib/blogPost"

export async function getStaticPaths() {
  const blogEntries = await getAllPosts()
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

type Props = {
  entry: CollectionEntry<"posts">
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()

export const prerender = true
---

<BaseLayout>
  <BlogPostSEO entry={entry} slot="seo" />
  <ContentLayout asElement="article">
    <BlogFrontMatter entry={entry} />
    <div class="divider"></div>
    <NetabareWrapper backIfNewTab="/blog" netabareList={entry.data.netabare}>
      <BlogStyle>
        <MDXRenderer content={Content} headings={headings} tocDepth={2} />
      </BlogStyle>
    </NetabareWrapper>
  </ContentLayout>
</BaseLayout>
