---
import type { CollectionEntry } from "astro:content"

import Link from "@/components/base/Link.astro"
import BudouX from "@/components/common/BudouX.astro"
import CloudinaryImage from "@/components/ui/CloudinaryImage.astro"
import { dtTool } from "@/lib/date"
import { tv } from "tailwind-variants"

type Props = {
  post: CollectionEntry<"posts">
}

const {
  post: { data, slug },
} = Astro.props

const createdAt = dtTool.replaceTzWithJst(data.createdAt)
const createdAtSring = dtTool.formatInJst(createdAt, "yyyy/MM/dd")

const styles = tv({
  slots: {
    image:
      "h-full w-full object-cover transition-transform duration-1000 ease-in-out will-change-transform group-hover/article:scale-105",
    imageWrapper: "aspect-16/9 overflow-hidden rounded-t-[calc(0.5rem-1px)]",
    innerWrapper: "flex flex-col flex-nowrap gap-2 pb-5 text-center",
    root: "group/article overflow-hidden rounded-lg outline outline-1 outline-gray-200 dark:outline-zinc-600",
    title: "inline-block px-2 text-xl font-bold",
  },
  variants: {
    status: {
      notPublished: {
        root: "bg-yellow-500 dark:bg-yellow-700",
      },
      published: {
        root: "bg-custom-theme-light dark:bg-custom-theme-dark",
      },
    },
  },
})({ status: data.status === "published" ? "published" : "notPublished" })
---

<article
  class:list={[styles.root()]}
  transition:animate="fade"
  transition:name={`card-${slug}`}
>
  <Link href={`/blog/post/${slug}`} variants={{ decoration: "none" }}>
    <div class:list={styles.innerWrapper()}>
      <div class:list={styles.imageWrapper()}>
        <CloudinaryImage
          alt={`thumbnail of ${slug}`}
          class:list={styles.image()}
          src={data.thumbnail}
          priority
        />
      </div>
      <time datetime={createdAt.toISOString()}>{createdAtSring}</time>
      <h2
        class:list={styles.title()}
        transition:animate="fade"
        transition:name={`title-${slug}`}
      >
        <BudouX>
          {data.title}
        </BudouX>
      </h2>
    </div>
  </Link>
</article>
