---
import type { Page } from "astro"

import Icon from "@/components/common/Icon.astro"
type Props = {
  page: Page
}
const { page } = Astro.props
---

<nav aria-label="ブログ記事のページネーション" class="flex flex-col">
  <div
    class="flex flex-row flex-nowrap justify-center -space-x-px rounded-lg [&>*]:border [&>*]:border-slate-700 dark:[&>*]:border-zinc-600"
  >
    {
      page.url.prev && (
        <a
          aria-label="前のページへ移動する"
          class="inline-flex items-center rounded-l-lg p-4 md:p-6"
          href={page.url.prev}
        >
          <Icon icon="fa6-solid:arrow-left" size="md" />
        </a>
      )
    }
    <p
      class="inline-flex items-center px-6 py-4 font-bold leading-none first:rounded-l-lg last:rounded-r-lg md:px-8 md:py-6"
    >
      {page.currentPage} / {page.lastPage}
      <span class="sr-only"
        >現在{page.lastPage}ページ中{page.currentPage}ページ</span
      >
    </p>
    {
      page.url.next && (
        <a
          aria-label="次のページへ移動する"
          class="inline-flex items-center rounded-r-lg p-4 md:p-6"
          href={page.url.next}
        >
          <Icon icon="fa6-solid:arrow-right" size="md" />
        </a>
      )
    }
  </div>
</nav>
