---
import type { Experience } from "@/pages/portfolio/_data";

import { tv } from "tailwind-variants";

type Props = {
  experience: Experience;
};

const {
  experience: { description, time, title },
} = Astro.props;
const timeLeft = time.range ? time.data.from : time.data;
const timeRight = time.range ? time.data.to : null;

const style = tv({
  slots: {
    date: "mb-1 text-sm font-normal leading-none text-blue-600 dark:text-blue-400",
    description:
      "mb-2 text-base font-normal text-gray-600 dark:text-gray-400 text-balance",
    marker:
      "absolute -start-1.5 mt-[8px] size-3 rounded-full bg-blue-600 dark:bg-blue-400",
    title: "mb-1 text-lg font-semibold text-balance",
    wrapper: "mb-8 ms-4 last:mb-4",
  },
})();
---

<li class:list={style.wrapper()}>
  <div aria-hidden="true" class:list={style.marker()}></div>
  <span class:list={style.date()}>
    <time datetime={timeLeft.attr}>
      {timeLeft.label}
    </time>
    {time.range && <span>-</span>}
    {
      timeRight && <time datetime={timeRight.attr}>{timeRight.label}</time>
    }</span
  >
  <h3 class:list={style.title()}>
    {title}
  </h3>
  <p class:list={style.description()}>
    {description}
  </p>
  <slot />
</li>
